*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: block;
    margin: 0px auto;
    width: 40%;
    height: 25vh;
    /* background-color: rgb(32, 32, 32); */
    box-shadow: 1px 1px 3px #5a5a5a;
    border-radius: 10px;
    /* background-color: rgb(51, 70, 247); */
    border: 10px solid rgb(51, 70, 247);
}

#clock {
    display: block;
    margin: 0px auto;
    position: relative;
    top: 15%;
    height: 16vh;
    width: 90%;
    font-size: 4rem;
    text-align: center;
    padding-top: 2%;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #5a5a5a;
    background-color: rgb(32, 32, 32);
}

